**

!Dockerfile.frontend
!nginx.conf
!scripts/
!scripts/15-youplayer-certificates.sh

!src/
!src/index.html
!src/app.js
!src/audio-crossfade.js
!src/audio-diagnostics.js
!src/track-gestures.js
!src/library-view.js
!src/playlist-view.js
!src/discovery-view.js
!src/player-controller.js
!src/player-view.js
!src/account-view.js
!src/client-utils.js
!src/android-player.js
!src/spotify-browser-bridge.js
!src/spotify-explorer.js
!src/style.css
!src/manifest.webmanifest
!src/library-tools.js

!src/icons/
!src/icons/**

!src/downloads/
!src/downloads/.gitkeep
!src/downloads/youplayer-spotify-bridge.xpi

!src/spotify_login_sandbox/
!src/spotify_login_sandbox/**
